.nav-item{
    font-family: cursive;
    font-size: 20px;
}

.link{
  color:red;
}
.blinking{
animation:blinkingText 2.5s infinite;
}
@keyframes blinkingText{
0%{     color:darkgreen;    }
49%{    color: transparent; }
50%{    color: transparent; }
99%{    color:transparent;  }
100%{   color: darkgreen;    }
}


body{
  background-image: url("./images/space-backgrounds-1.jpg");
  /* background-image: url("./images/space2.jpg"); */

}

.card-header{
font-family: cursive;
font-size: 20px;
}
h1{
text-align: center;
color:wheat;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.lead{
text-align: center;
color:wheat;
font-family: 'Courier New', Courier, monospace;
/* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
font-size: xx-large;


}

.headerHold {

  height: 8vh;
  margin-bottom: 10vh;
}
.header {

  font-family: mapleOrigins;
  /* font-weight: bold; */
  font-size: 15vh;
  color: white;
  text-align: center;
  animation: bounce .7s infinite;
}
@keyframes bounce {
  0%   {font-size: 15vh}
  50%  {font-size: 16vh}
  100% {font-size: 15vh}
}
/* .jumbotron{
background-color:goldenrod;
} */

.clockhome{
margin-left: 320px;
}


