.nav-item{
    font-family: cursive;
    font-size: 20px;
}

.link{
  color:red;
}
.blinking{
animation:blinkingText 2.5s infinite;
}
@keyframes blinkingText{
0%{     color:darkgreen;    }
49%{    color: transparent; }
50%{    color: transparent; }
99%{    color:transparent;  }
100%{   color: darkgreen;    }
}


body{
  background-image: url("./images/space-backgrounds-1.jpg");
  /* background-image: url("./images/space2.jpg"); */

}

.card-header{
font-family: cursive;
font-size: 20px;
}
h1{
text-align: center;
color:wheat;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.lead{
text-align: center;
color:wheat;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
/* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
font-size: large;

 

font-size: 3em;
margin: 10px 0 0 10px;
white-space: nowrap;
overflow: hidden;
width: 100%;
animation: animtext 4s steps(80, end); 
transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);


}

@keyframes animtext { 
  from {
  width: 0;
  transition: all 8s ease-in-out;
  } 
  }


.headerHold {

  height: 8vh;
  margin-bottom: 10vh;
}
.header {

  font-family: mapleOrigins;
  /* font-weight: bold; */
  font-size: 15vh;
  color: white;
  text-align: center;
  animation: bounce .7s infinite;
}
@keyframes bounce {
  0%   {font-size: 15vh}
  50%  {font-size: 16vh}
  100% {font-size: 15vh}
}
/* .jumbotron{
background-color:goldenrod;
} */

.clockhome{
margin-left: 320px;

}


